.swal2-custom-title {
  font-size: 1rem !important;
  font-weight: 400 !important;
}
.swal2-custom-popup {
  font-size: 0.95rem !important;
}
.swal2-custom-html {
  font-size: 0.95rem !important;
  font-weight: 400 !important;
}
